body {
    background-image: url(image_home/image_home/home_background.jpg);
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    color: #333;
}

ul li {
    margin: 10px 0;
}
