/* footer */
footer {
    background-color: #EBEDE8;
    width: auto;
    height: 200px;
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer>div {
    display: flex;
    justify-content: space-between;
    margin: 20px 75px;
    flex-direction: row;
}

/* Điều chỉnh pay-method */
.pay-method {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.pay-method svg {
    background-color: white;
    padding: 3px 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.pay-method svg:last-child {
    color: white;
    background-color: #A50164;
    font-weight: bold;
}

/* Điều chỉnh các liên kết contact */
.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.contact a {
    text-decoration: none;
    color: black;

    border: 1px solid gray;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact a:hover {
    background-color: lightgray;
    transform: translateY(-5%);
    transition: all 0.3s ease-in-out;
}
